.heroSection {
  height: 95vh;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.116)),
    url('../../assets/image1.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  p {
    color: #fff;
  }

  div {
    position: relative;
    left: -150px;
    top: -50px;
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
      margin: 10px 0;
    }

    a {
      background-color: rgb(255, 129, 27);
      padding: 5px 15px;
      border-radius: 2px;
      color: #000;
      font-weight: 700;
    }
  }
}

.rules_section {
  text-align: center;
  color: #fff;
  width: 90%;
  margin: 0 auto;
}

.rules_InnerContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 70%;
}

.rules_textContainer {
  display: flex;
  flex-direction: column;
}

.rules_buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.rules_moviesContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 10px;
  width: 50%;
}
@media (max-width: 1200px) {
  .heroSection {
    div {
      left: -100px;
      top: -50px;
    }
  }
}

@media (max-width: 900px) {
  .heroSection {
    div {
      left: 10px;
      top: -50px;
    }
  }
}

@media (max-width: 750px) {
  .heroSection {
    div {
      left: -10px;
      top: -50px;

      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .heroSection {
    div {
      left: 4px;
      top: -50px;

      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
